<footer>
  <div class="footer-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3 item">
          <h3>For Clients</h3>
          <ul>
            <li><a href="/">Sign Up</a></li>
            <li><a href="/">Forums</a></li>
            <li><a href="/">Promotions</a></li>
          </ul>
        </div>
        <div class="col-md-3 item text">
          <h3>REALESTATE</h3>
          <ul>
            <li>123 Yonge St, Toronto, ON</li>
            <li>Phone: 1-800-777-1234</li>
            <li>Email: realestate@domain.org</li>
          </ul>
        </div>
        <div class="col-md-3 item">
          <h3>ADVICE</h3>
          <ul>
            <li><a href="/">Support</a></li>
            <li><a href="/">FAQs</a></li>
            <li><a href="/">Contacts</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
