<header id="home" class="header-container">
  <div class="main">
    <div class="logo">
      <h1>real<span>estate</span></h1>
      <p>best realestate dealers</p>
    </div>
    <div class="contacts">
      <div class="phone">1-800-777-1234</div>
      <div class="email">realestate@domain.org</div>
    </div>
  </div>
  <div class="menu">
    <nav>
      <a class="link" href="/">Home</a>
      <a class="link" href="/">About Us</a>
      <a class="link" href="/">Listings</a>
      <a class="link" href="/">Moving</a>
      <a class="link" href="/">Contacts</a>
    </nav>
    <!--If user not logged in or registered yet-->
    <% if (!user_id) { %>
      <div class="login-btn">
        <form class="form-inline" action="/login" method="POST">
            <a type="submit" class="nav-item nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
            <button type="submit" class="btn btn-light">Register</button>
        </form>
      </div>
    <!--If user logged in-->
    <% } else { %>
      <div class="icons">
        <a type="submit" class="nav-item nav-link" href="/"><i class="fas fa-envelope"></i></a>
        <% if (isAdmin) { %>
          <a type="submit" class="nav-item nav-link" href="/add-property"><i class="fas fa-plus-circle"></i></a>
        <% } else { %>
          <a type="submit" class="nav-item nav-link" href="/users/favorites"><i class="fas fa-heart"></i></a>
        <% } %>
      </div>
      <form class="form-inline" action="/logout" method="POST">
        <button type="submit" class="btn btn-outline-light">Logout</button>
      </form>
    <% } %>
  </div>
</header>
