/*****Colors*****/
$primary-color:#272727;
$accent-color: #e2a616;
$body-color: #f7f7f7;
$font-color: #d8d8d8;
$grey-font-color:#a0a0a0;

.messages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  height: 100%;
  min-height: 70vh;
  font-size: 20px;
  margin: auto;

  h1 {
    span {
      color: $accent-color;
    }
  }

  .message-container {
    background-color: $font-color;
    border-radius: 15px;
    padding: 1em;
    margin: 1.2em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-color;

    .message-details{
      width: 20%;
      display: flex;
      flex-direction: column;
      float: left;
      border-right: 1px solid $grey-font-color;
      padding: 1em;

      .name {
        font-size: 1.2em;
        color: $accent-color;
      }

      i {
        color: $accent-color;
        font-size: 2em;
      }
    }

    .message-content {
      font-size: 1.5em;
      float: right;
      text-align: center;
      color: $primary-color;
    }

  }

  .reply-button {
    height: 100%;
    border: 2px solid $grey-font-color;
    border-radius: 5px;
    margin-top: 1em;

    a {
      color: $primary-color;
      height: 100%;

      i {
        color: $font-color;
        font-size: 1.2em;

      }

      &:hover {
        background-color: $font-color;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

        i {
          color: $accent-color;
        }
      }
    }


  }

}
